* {
  margin: 0;
  padding: 0;
  font-family: Calibri;
  box-sizing: inherit;
}

.form {
  height: fit-content;
  width: 400px;
  background: white;
  position: relative;
  margin: 2% auto;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.image-box {
  margin: auto;
  width: 150px;
  position: relative;
  height: 150px;
  margin-top: 10px;
}
.toggle {
  padding: 10px 30px;
  cursor: pointer;
  border: 0;
  background: transparent;
  outline: none;
  position: relative;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  border-radius: 30px;
  transition: 0.5s;
}
form .text {
  /*Username and Password*/
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px -40px 20px 10px;
}
.text input {
  /*Username and Password input*/
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.ep {
  /*Username and Password display*/
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}

.underline::before {
  /*Underlined below username and password*/
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 3px;
  background: #2691d9;
  transition: 0.5s;
}
.text input:focus ~ .ep,
.text input:valid ~ .ep {
  /*Transition after selection of username and password*/
  font-weight: bold;
  top: -5px;
  color: #2691d9;
}
.text input:focus ~ .underline::before,
.text input:valid ~ .underline::before {
  /*Transition of undrerlined dashafter selection of username and password*/
  width: 100%;
}
.sh {
  /*Show password div*/
  margin: -5px 0 20px 5px;
  color: #0d324d;
  cursor: pointer;
}
.incorrect {
  margin: -5px 0 20px 5px;
  color: #ff3333;
}
.show {
  /*Show password color*/
  color: #2691d9;
}
.show:hover {
  /*Show password hover*/
  text-decoration: underline;
}
label > input[type="checkbox"]:checked + * {
  /*Show password after clicking*/
  font-weight: bold;
  color: rgb(21, 255, 0);
}
.login {
  /*Login in button*/
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  cursor: pointer;
  outline: none;
}
.center {
  left: 5%;
  width: 80%;
  padding: 10px;
  position: relative;
  height: 60%;
}
.center-log {
  margin: auto;
  width: 50%;
}
.photo {
  position: absolute;
  width: 15px;
  height: 20px;
  margin-top: 4.9%;
  margin-left: -5%;
}

.signup {
  text-align: center;
}

.upload {
  width: fit-content;
  height: fit-content;
  margin: auto;
  margin-top: 2%;
}
.font {
  font-weight: bold;
  font-family: Garamond, serif;
  font-size: 30px;
}
.fontt {
  font-weight: bold;
  font-family: Garamond, serif;
  font-size: 40px;
}

.navbtn {
  cursor: pointer;
  display: list-item;
  background: black;
  color: white;
  height: fit-content;
  border-radius: 20px;
  margin-top: 0%;
  align-items: center;
  height: 5%;
  width: 10%;
  padding: 10px;
}
.navbtn:hover {
  background-color: green;
}

.list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.head {
  color: black;
}
.headd {
  height: 10%;
}
.system {
  border: 3px solid green;
  margin: auto;
}

.image {
  border: 3px solid red;
  width: 100px;
  height: 100px;
  margin-top: 4%;
  margin-left: 20%;
  display: inline-block;
}
.details {
  margin-top: -9%;
  border: 3px solid green;
  width: 100px;
  height: 100px;
  margin-left: 60%;
  display: inline-block;
}
.button-display {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 16%;
}
.camera {
  width: 100px;
  height: 100px;
}
.display-text {
  text-align: center;
  margin: auto;
  width: fit-content;
  font-weight: bold;
  font-size: 20px;
}
@media screen and (max-width: 700px) {
  .font {
    font-size: 20px;
    margin-top: 6%;
  }
  .form {
    margin-top: 4%;
    width: 300px;
  }
}
.image-sec {
  height: fit-content;
  width: 57%;
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 2%;
}

.result {
  width: fit-content;
  height: fit-content;
  margin-top: 3%;
}
.table-content {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 17px;
  min-width: 600px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table-content thead tr {
  background-color: #2691d9;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}
.table-content th,
.table-content td {
  padding: 12px 15px;
}
.table-content tbody tr {
  border-bottom: 1px solid #dddddd;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.table-content tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table-content tbody tr:last-of-type {
  border-bottom: 2px solid #2691d9;
}
.table-content tbody tr:hover {
  background-color: #f5f5f5;
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.centerd{
  display: inline-block;
  margin-top: 30px;
  margin-left: 10%;
  border-radius: 10px;
  width: 25%;
  height: fit-content;
  padding-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.centerdd{
  margin: auto;
  width: fit-content;
  height: 200px;
  padding: 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.kce{
  width: 100%; /* or any custom size */
  height: 100%; 
  object-fit: contain;
}

.name{
  margin: auto;
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
}

.name-display{
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  padding-left: 10px;
}
.info{
  font-size: 18px;
}
.info,
.name-display{
  display: inline;
}

.general-info{
  width: 50%;
  height: fit-content;
  margin-left: 38%;
  margin-top: -300px;

}




.topcorner{
  width: fit-content;
  height: fit-content;
  position:relative;
  float:right;
  margin-top: -50px;
  margin-right: 10px;
}

.general{
  text-align: center;
}

.mess{
  font-size: 14px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  margin-left: -15px;
  padding-left: 10px;
  margin-top: 15px;
  width: 320px;
  height: 40px;
  padding-top: 10px;
  background-color: #FAA0A0;
  color: red;
  border-radius: 10px;
}

.sub{

  text-align: center;
}

.subbutton{
  width: 200px;
  height: 80px;
  margin-right: 20px;
  font-family: 'Lato', sans-serif;
}
.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%
}
.cardinfo {
  border-radius: 15px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 200px;
  height: fit-content;
  width: fit-content;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2)
}

.cardbody {
  position: relative;
  bottom: 35px
}

.pos{
  width: 100%;
  height: fit-content;
  margin-top: 5%;
}

.card-title{
  font: 30px;
  font-weight: bold;
}

.card-subtitle h3,
.card-subtitle h4{
  display: inline;
}
 
.card{
   margin-bottom: 80px;
   transition: all 0.2s ease;
   cursor: pointer;
}

.card:hover {
  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.1);
}
 .bold{
   font-weight: bold;
 }

 
.link{
  text-decoration: none;
  color: black;
}

.link:hover{
  color: black;
}

.percent{
  position: absolute;
  right: 0px;
  width: fit-content;
  padding: 10px;
}

.red{
  background-color: #FAA0A0!important;
}

.green{
  background-color: #90ee90!important;
}

.cardl {
  border-radius: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 200px;
  height: fit-content!important;
  width: fit-content!important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2)
}

.subdetail{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 5px;
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.5px);
  z-index: 5;
}

.btnalign{
  position: absolute;
  left: 95%;
  width: fit-content;
  height: fit-content;
}