{% extends "layout.html" %}
{% block title %}Image Detection{% endblock %}
{% block content %}
<div class="container">
  <div class="upload">
    <h3 class="fontt">DETECT FACES</h3>
  </div>
  <div class="upload">
    <p>Please upload photo you want to detect faces.</p>
  </div>
  <div class="upload">
    <form method="POST" enctype="multipart/form-data">
      <button type="button" class="btn btn-outline-primary"><input type="file" name="file"></button>
      <input type="submit" value="Upload" class="btn btn-primary">
      <div class="upload">
        <h4 class="font">{{context.message}}</h4>
      </div>

    </form>
  </div>
  <div class="row">
    <div class="row">
      {% if context %}
      {% for (i , keys) in zip(range(len), context.image_info) %}
      <div class="card" style="width: 18rem;margin-left: 4%;margin-bottom: 4%;">
        <img class="card-img-top" src='/static/img/faces/instant/face_{{i+1}}.jpg?{{context.img_time}}' height="300px"
          width="300px">
        <div class="card-body">
          <h5 class="card-title">{{keys}}</h5>
          <p class="card-text">Details:</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">score:{{context.image_info[keys]['score']}}</li>
          <li class="list-group-item">facial area:{{context.image_info[keys]['facial_area']}}</li>
          <li class="list-group-item">right_eye:{{context.image_info[keys]['landmarks']['right_eye']}}</li>
          <li class="list-group-item">left_eye:{{context.image_info[keys]['landmarks']['left_eye']}}</li>
          <li class="list-group-item">nose:{{context.image_info[keys]['landmarks']['nose']}}</li>
          <li class="list-group-item">mouth_right:{{context.image_info[keys]['landmarks']['mouth_right']}}</li>
          <li class="list-group-item">mouth_left:{{context.image_info[keys]['landmarks']['mouth_left']}}</li>
        </ul>
      </div>
      {% endfor %}
      {% else %}
      {% endif %}
    </div>

    {% endblock content%}