{% extends "layout.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}
<script>
  function myFunction() {
    var x = document.getElementById("password");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>


<div class="upload font">
  ATTENDANCE SYSTEM
</div>
<div class="form">
  <div class="image-box">
    <img src="\static\img\logo.png" class="image-box">
  </div>
  <div class="center">
    <form method="POST">
      <div class="text">
        <div class="photo">
          <img class="photo" src="\static\img\username.png">
        </div>
        <input type="text" name="username" required>
        <span class="underline"></span>
        <label class="ep">Username</label>
      </div>
      <div class="text">
        <div class="photo">
          <img class="photo" src="\static\img\password.png">
        </div>
        <input type="password" name="password" id="password" required>
        <span class="underline"></span>
        <label class="ep"> Password</label>
      </div>
      <div class="sh">
        <label>
          <input type="checkbox" name="checkbox" value="no" onclick="myFunction()">
          <span class="show">Show Password</span>
        </label>
      </div>
      <div class="center-log">
        <input type="submit" name="submit" value="Login" class="login">
      </div>
    </form>
    {% if 'Incorrect' in msg %}
    <div class='mess'>
      {{msg}}
    </div>
    {% endif %}

  </div>
</div>

{% endblock %}