{% extends "layout.html" %}
{% block title %}Image Detection{% endblock %}
{% block content %}
<p class="hidden username">{{login}}</p>
<div class="container sub" id="take_container">
  <div class="upload">
    <h3 class="font">SUBJECT SELECTION</h3>
  </div>
  <div class="upload">
    <p class="font">Please select your subject for attendance</p>
  </div>
</div>



<div class="container hidden" id="take_container_next">
  <div class="upload">
    <h3 class="font">TAKE ATTENDANCE</h3>
  </div>
  <div class="upload">
    <p>Please upload photo for the attendance details.<br></p>
  </div>
  <div class="upload">
    <i>* Press Submit button only if you are redirected from
      camera</i>
  </div>
  <div class="upload">
    <form method="POST" enctype="multipart/form-data">
      <input class="hidden subject" type="text" name="subject" id="subject_select">
      <button type="button" class="btn btn-outline-primary js-btn" name="btn-upload"><input type="file" name="file"
          class="js-file"></button>
      <input type="submit" value="Upload" class="btn btn-primary  js-upload" id="submit_button">
      <div class="upload">
        <h4 class="font">{{context.message}}</h4>
      </div>
    </form>
  </div>
</div>

<div style="display: flex;">
  <div class="image-sec">
    <div class="row">
      {% for i in range(len) %}
      <div class="card" style="width: 100px;height:100px;margin-bottom: 6%;">
        <img class="card-img-top" src='/static/img/faces/instant/face_{{i+1}}.jpg?{{context.img_time}}'
          style="height :80px; width:80px;">
        <div class="card-body" style="width: 80px;">
          <p class="card-title" style="text-align: center;">{{result[i][-3:]}}</p>
        </div>
      </div>

      {% endfor %}
    </div>
    {% if total != NULL %}
    <table class="table-content" style="width: 450px;">
      <tr>
        <th>Total Students: {{total}}</th>
        <th style="color: green;">Students Present: {{present}}</th>
        <th style="color: red;">Students Absent: {{absent}}</th>
      </tr>
    </table>
    {% endif%}
  </div>
  <div class="result">
    {% if tables != NULL %}
    <table class='table-content'>
      <tr>
        {% for i in title %}
        <th>{{i}}</th>
        {% endfor %}
      </tr>
      {% for element in tables %}
      {% if "Present" in element[-1] %}
      <tr>
        {% for name in element %}
        <th style="color: green;">{{name}}</th>
        {% endfor %}
      </tr>
      {% else %}
      <tr>
        {% for name in element %}
        <th style="color: red;">{{name}}</th>
        {% endfor %}
      </tr>
      {% endif %}
      {% endfor %}
    </table>
    {% endif %}
  </div>
</div>

<script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
{% endblock %}